@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
}

a:visited{
    color: black;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 10px;
}


.container-header-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-header-flex a{
    align-self: center;
    margin-left: 40px;
}

.container-menu-flex{
    text-align: center;
    align-self: center;
    margin-right: 40px;
    font-size: larger;
}

.container-main-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container-main-flex div{
    margin: 20px;
    min-width: 100px;
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 0;
}

.imagemmain{
    border-radius: 100%;
    width: 100%;
}

.container-aside-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container-aside-flex p{
    margin: 30px;
}

.container-grid-section{
    grid-area: sec;
    display: flex;
    flex-wrap: wrap;
}

.container-grid-section main{
    flex-basis: 70%;
}

.container-grid-section aside{
    flex-basis: 30%;
    min-width: 210px;
}

.container-grid{
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "head head" "sec sec" "foot foot";
}

header{
    background-color: yellow;
    grid-area: head;
}

main{
    background-color: aquamarine;
    grid-area: mainn;
}

aside{
    background-color: blueviolet;
    grid-area: aaside;
}

footer{
    background-color: tomato;
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 702px)
{
    .container-grid-section main{
        flex-basis: 100%;
    }
    
    .container-grid-section aside{
        flex-basis: 100%;
        min-width: 210px;
    }

    .container-grid{
        grid-template-rows: 20vh 100vh 30vh;
    }
}